<!DOCTYPE html>
<html>
    <head>
        <title>About us</title>
        <link rel="icon" href="/img/weathericon.png">"
        <link rel="stylesheet" href="/css/syles.css">
       
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>
                This site was created by Luke Nisbet. It uses data from mapbox.com and weatherstack api
            </p>
        <img src="/img/mc.png" class="aboutusImg">
        <div class="portraitCaption">
            <h2 >Master Luke Nisbet</h2>
        </div>
        
        </div>
        
        {{>footer}}
    </body>
</html>
